<div class="wrapper"  >
    <div *ngIf="choosedProg.length==0" class="page-header section-dark" style="background-image: url('assets/img/landscape2.jpg')" >
        
        <!-- <div class="filter"></div> -->
        
        <!-- <div class="content-center"> -->
         
            <div class="container" >
                <div *ngIf="!obtainedData">
                 <div class="row" >
                    <div class="col-md-4"></div>
                    <div class="col-md-5" style="display:grid;align-items: center;justify-content: center;;">
                    <div class="card card-register" style="margin-top: 100px;width: 100%;margin-bottom: 10px; " >
                        <h5 class="title" style="margin: 10px;">Please input your data before taking the test</h5>
                        <form class="register-form" [formGroup]="formSiswa" (ngSubmit)="onSubmit()" >
                            <label>Name</label>

                            <div class="input-group form-group-no-border" style="margin-bottom: 10px;">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="nc-icon nc-circle-10"></i>
                                </span>
                              </div>
                                <input type="text" class="form-control " placeholder="Your Name" formControlName="name">
                                <div *ngIf="submitted && f['name'].errors" class="form-control-feedback" style="color: aliceblue; margin-top: 5px;">
                                <div *ngIf="submitted && f['name'].errors['required']" >Fullname is required</div>
                                </div>
                            </div>
                            <label>Email</label>
                            <div class="input-group form-group-no-border" style="margin-bottom: 10px;">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="nc-icon nc-email-85"></i>
                                </span>
                              </div>
                                <input type="email" class="form-control" placeholder="Email" formControlName="email" >
                                <div *ngIf="submitted && f['email'].errors" class="form-control-feedback" style="color: aliceblue; margin-top: 5px;">
                                    <div *ngIf="submitted && f['email'].errors['required']" > Email is required</div>
                                    <div *ngIf="submitted && f['email'].errors['email']" > Email is invalid</div>
                                </div>
                            </div>

                            <label>Phone / WA</label>
                            <div class="input-group form-group-no-border" style="margin-bottom: 10px;">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                    +62
                                </span>
                              </div>
                                <input type="number" class="form-control" placeholder="Phone" formControlName="phone">
                                <div *ngIf="submitted && f['phone'].errors" class="form-control-feedback" style="color: aliceblue; margin-top: 5px;">
                                    <div *ngIf="submitted && f['phone'].errors['required']" > Phone is required</div>
                                </div>
                            </div>
                            <label>School</label>
                            <div class="input-group form-group-no-border" style="margin-bottom: 10px;">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="nc-icon nc-hat-3"></i>
                                </span>
                              </div>
                                <input type="text" class="form-control" placeholder="School" formControlName="school" >
                                <div *ngIf="submitted && f['school'].errors" class="form-control-feedback" style="color: aliceblue; margin-top: 5px;">
                                    <div *ngIf="submitted && f['school'].errors['required']" > School is required</div>
                                </div>
                            </div>
                            <label>Grade</label>
                            <div class="input-group form-group-no-border" style="margin-bottom: 10px;">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="nc-icon nc-badge"></i>
                                </span>
                              </div>
                              <select name="Grade"  class="form-control" formControlName="grade">
                                <option value="12">Kelas 12</option>
                                <option value="11">Kelas 11</option>
                                <option value="10">Kelas 10</option>
                              </select>
                              <div *ngIf="submitted && f['grade'].errors" class="form-control-feedback" style="color: aliceblue; margin-top: 5px;">
                                <div *ngIf="submitted && f['grade'].errors['required']" > Grade is required</div>
                            </div>
                            </div>


                            
                            <button class="btn btn-neutral btn-block btn-round" type="submit">Submit</button>
                        </form>
                    </div>
                    <h6 class="ml-auto mr-auto" style="text-align: center;color: aliceblue; margin-top: 20px;">Designed and coded by
                      <img src="assets/img/Logo.png" style="width: 60px; height: 30px" class="creative-tim-logo">
                  </h6>
                </div>
                
                 </div>
                 
              </div>
                    <div *ngIf="obtainedData">
                    <div  class="title-brand" style="margin-top: 70px;">
                       
                    <div *ngIf="currentIndex<lenGen;else other_content">
                        <h3 style="color: aliceblue;">{{general[currentIndex].quest}}</h3>
                        <img src="./assets/img/{{general[currentIndex].pictName}}" style="width:350px; height:250px;margin-top: 10px;margin-bottom: 10px;"  alt="Illustrated Picture">
                    
                   
                    <div class="row" style="margin: 20px;">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <button type="button" class="btn btn-outline-neutral btn-round" (click)="ChoseeNot()">Not Me</button>
                            <button type="button" class="btn btn-neutral btn-round" (click)="ChoseeYes()">That's Me</button>
                        </div>
                    </div>
                    <ngb-progressbar type="danger" class="mt-0" [value]="(currentIndex/lenGen)*100"><span class="h6 mb-0">Progress <b>{{currentIndex}} of {{lenGen}}</b> ...</span></ngb-progressbar>
                    </div>


                    <ng-template #other_content >
                    <div *ngIf="currSpecIdx<lenSpec; else no_answer">
                        <h3 style="color: aliceblue;">{{displayedSpec[currSpecIdx].quest}}</h3>
                        <img src="./assets/img/{{displayedSpec[currSpecIdx].pictName}}" style="width:350px; height:250px;margin-top: 10px;margin-bottom: 10px;"  alt="Illustrated Picture">
                    
                   
                        <div class="row" style="margin: 20px;">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <button type="button" class="btn btn-outline-neutral btn-round" (click)="ChoseeSpecNot()">Not Me</button>
                                <button type="button" class="btn btn-neutral btn-round" (click)="ChoseeSpecYes(displayedSpec[currSpecIdx].program)">That's Me</button>
                            </div>
                        </div>
                        <ngb-progressbar type="danger" class="mt-0" [value]="(currSpecIdx/lenSpec)*100"><span class="h6 mb-0">Progress <b>{{currSpecIdx}} of {{lenSpec}}</b> ...</span></ngb-progressbar>
                    </div>
                    </ng-template>
                    <ng-template #no_answer >
                      <div *ngIf="choosedProg.length==0">
                      <h3 style="color: aliceblue;">Please answer the question thoughtfully, it seems the system can not identify your interest </h3>
                      <a href="" style="margin:10px"><button type="button" class="btn btn-neutral btn-block btn-round" >Re-Take the test!</button></a>
                    </div>
                    </ng-template>
                    
                </div>
                <h6 *ngIf="choosedProg.length==0"  style="text-align: center;color: aliceblue; position: absolute;margin: 0 auto; left:0; right:0;bottom: 20px;">Designed and coded by
                  <img src="assets/img/Logo.png" style="width: 60px; height: 30px" class="creative-tim-logo">
              </h6>
                </div>
                  
                
                <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); z-index:-1;height: 100%;"></div>
            </div>
        <!-- </div> -->
        
        
        
    </div>
    <!-- Jurusan -->
    <div *ngIf="choosedProg.length!=0">
      <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/JGU.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content" style="padding:20px">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/{{choosedProg[dum].pictName}}" alt="Circle Image" class="img-thumbnail img-no-padding img-responsive" style="width: 300px;height: 150px;">
                </div>
                <div class="name">
                    <h4 class="title">Program yang sesuai dengan hasil tes kamu adalah<br /></h4>
                    <h6 class="description" style="font-size: 18px;">{{choosedProg[dum].name}}</h6>
                </div>
            </div>
            <div class="row" >
                <div class="col-md-8 ml-auto mr-auto ">
                    <p style="white-space: pre-wrap;text-align: justify;margin: 10px;">{{choosedProg[dum].career}}</p>
                    <h3 style="text-align: center; font-size: 1.6em;" >Prospek Karir</h3>
                    <ul>
                      <li *ngFor="let x of choosedProg[dum].prospect">{{x}}</li>
                    </ul>
                    <h3 style="text-align: center; font-size: 1.6em;" >Struktur Biaya</h3>
                    <br>
                    <ul>
                      <li>{{choosedProg[dum].f1}}*</li>
                      <li>{{choosedProg[dum].f2}}*</li>
                    </ul>
                    <p style="font-size: 10px;margin: 10px;">*Scholarship Available, TnC Applied</p>
                    <a href="https://wa.me/6283802434392?text=Hi,%20Saya%20tertarik%20di%20jurusan%20{{choosedProg[dum].name}},%20boleh%20share%20infonya?" target="_blank" style="margin:3px">
                      <button type="button" class="btn btn-danger btn-block btn-round" >Consult With Us Here!</button></a>
                    <a href="{{choosedProg[dum].curr}}" target="_blank" >
                      <button type="button" class="btn btn-danger btn-block btn-round" >Download Curriculum</button></a>
                      <br>
                      <h6  style="text-align: center;margin-top: 50px;">Designed and coded by
                        <img src="assets/img/Logo.png" style="width: 60px; height: 30px" class="creative-tim-logo">
                      </h6>
                </div>
            </div>
            
        </div>
    </div>

  </div>
  <!-- ?end of jurusan -->
   

</div>
